*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(151, 151, 252);
}
main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.card{
  width: 25rem;
  text-align: center;
  background-color:lightblue;
  background-image: radial-gradient(circle, lightblue, rgb(117, 157, 241), rgb(45, 62, 211));
  padding: 0.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  margin-top: 4rem;
  border-radius: 2rem;
}

button{
  padding:0.7rem 1rem;
  border-radius: 1rem;
  border: none;
  background-color: lightcoral;
  font-weight: 600;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  margin-top: 1rem;
  cursor: pointer;
}